// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  padding: 20px;
  li {
    display: inline;
    font-size: 30px;
    color: white;
    background-color: #005CE1;
    padding: 30px;
  }
}
